<h1>Convert <%= @from_currency %> to <%= @to_currency %></h1>

<p>
  1 <%= @from_currency %> equals <%= @exchange %> <%= @to_currency %>.
</p>

<p>Go <a href="/forex/<%= @from_currency %>"> back</a>.</p>