<h1>Convert <%= @from_currency %></h1>

<p>Go <a href="/forex"> back</a>.</p>

<ul>
  <% @array_of_symbols.each do |a_symbol| %>
    <li>
      <a href="/forex/<%= @from_currency %>/<%= a_symbol%>">
      Convert 1 <%= @from_currency %> to <%= a_symbol %>...
    </li>
  <% end %>
</ul>